In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [74]:
import bz2
df1 = pd.read_csv('searches.csv.bz2', sep='^',nrows=100)
df1.columns

Index([u'Date', u'Time', u'TxnCode', u'OfficeID', u'Country', u'Origin',
       u'Destination', u'RoundTrip', u'NbSegments', u'Seg1Departure',
       u'Seg1Arrival', u'Seg1Date', u'Seg1Carrier', u'Seg1BookingCode',
       u'Seg2Departure', u'Seg2Arrival', u'Seg2Date', u'Seg2Carrier',
       u'Seg2BookingCode', u'Seg3Departure', u'Seg3Arrival', u'Seg3Date',
       u'Seg3Carrier', u'Seg3BookingCode', u'Seg4Departure', u'Seg4Arrival',
       u'Seg4Date', u'Seg4Carrier', u'Seg4BookingCode', u'Seg5Departure',
       u'Seg5Arrival', u'Seg5Date', u'Seg5Carrier', u'Seg5BookingCode',
       u'Seg6Departure', u'Seg6Arrival', u'Seg6Date', u'Seg6Carrier',
       u'Seg6BookingCode', u'From', u'IsPublishedForNeg', u'IsFromInternet',
       u'IsFromVista', u'TerminalID', u'InternetOffice'],
      dtype='object')

In [7]:
df1.head(3).T

,0,1,2
Date,2013-01-01,2013-01-01,2013-01-01
Time,20:25:57,10:15:33,18:04:49
TxnCode,MPT,MPT,MPT
OfficeID,624d8c3ac0b3a7ca03e3c167e0f48327,b0af35b31588dc4ab06d5cf2986e8e02,3561a60621de06ab1badc8ca55699ef3
Country,DE,MD,US
Origin,TXL,ATH,ICT
Destination,AUH,MIL,SFO
RoundTrip,1,0,1
NbSegments,2,1,2
Seg1Departure,TXL,ATH,ICT
Seg1Arrival,AUH,MIL,SFO
Seg1Date,2013-01-26,2013-01-04,2013-08-02
Seg1Carrier,D2,NaN,NaN
Seg1BookingCode,NaN,NaN,NaN
Seg2Departure,AUH,NaN,SFO
Seg2Arrival,TXL,NaN,ICT
Seg2Date,2013-02-02,NaN,2013-08-09
Seg2Carrier,D2,NaN,NaN
Seg2BookingCode,NaN,NaN,NaN
Seg3Departure,NaN,NaN,NaN
Seg3Arrival,NaN,NaN,NaN
Seg3Date,NaN,NaN,NaN
Seg3Carrier,NaN,NaN,NaN
Seg3BookingCode,NaN,NaN,NaN
Seg4Departure,NaN,NaN,NaN
Seg4Arrival,NaN,NaN,NaN
Seg4Date,NaN,NaN,NaN
Seg4Carrier,NaN,NaN,NaN
Seg4BookingCode,NaN,NaN,NaN
Seg5Departure,NaN,NaN,NaN
Seg5Arrival,NaN,NaN,NaN
Seg5Date,NaN,NaN,NaN
Seg5Carrier,NaN,NaN,NaN
Seg5BookingCode,NaN,NaN,NaN
Seg6Departure,NaN,NaN,NaN
Seg6Arrival,NaN,NaN,NaN
Seg6Date,NaN,NaN,NaN
Seg6Carrier,NaN,NaN,NaN
Seg6BookingCode,NaN,NaN,NaN
From,1ASIWS,1ASIWS,1ASIWS
IsPublishedForNeg,0,0,0
IsFromInternet,0,0,0
IsFromVista,0,0,0
TerminalID,d41d8cd98f00b204e9800998ecf8427e,d41d8cd98f00b204e9800998ecf8427e,d41d8cd98f00b204e9800998ecf8427e
InternetOffice,FRA,KIV,NYC

In [8]:
df2 = pd.read_csv('bookings.csv.bz2', sep='^',nrows=100)

In [11]:
# cuidado con los espacios
df2.columns

Index([u'act_date           ', u'source', u'pos_ctry', u'pos_iata',
       u'pos_oid  ', u'rloc          ', u'cre_date           ', u'duration',
       u'distance', u'dep_port', u'dep_city', u'dep_ctry', u'arr_port',
       u'arr_city', u'arr_ctry', u'lst_port', u'lst_city', u'lst_ctry',
       u'brd_port', u'brd_city', u'brd_ctry', u'off_port', u'off_city',
       u'off_ctry', u'mkt_port', u'mkt_city', u'mkt_ctry', u'intl',
       u'route          ', u'carrier', u'bkg_class', u'cab_class',
       u'brd_time           ', u'off_time           ', u'pax', u'year',
       u'month', u'oid      '],
      dtype='object')

In [9]:
df2.head(3).T

,0,1,2
act_date,2013-03-05 00:00:00,2013-03-26 00:00:00,2013-03-26 00:00:00
source,1A,1A,1A
pos_ctry,DE,US,US
pos_iata,a68dd7ae953c8acfb187a1af2dcbe123,e612b9eeeee6f17f42d9b0d3b79e75ca,e612b9eeeee6f17f42d9b0d3b79e75ca
pos_oid,1a11ae49fcbf545fd2afc1a24d88d2b7,7437560d8f276d6d05eeb806d9e7edee,7437560d8f276d6d05eeb806d9e7edee
rloc,ea65900e72d71f4626378e2ebd298267,737295a86982c941f1c2da9a46a14043,737295a86982c941f1c2da9a46a14043
cre_date,2013-02-22 00:00:00,2013-03-26 00:00:00,2013-03-26 00:00:00
duration,1708,135270,135270
distance,0,0,0
dep_port,ZRH,SAL,SAL
dep_city,ZRH,SAL,SAL
dep_ctry,CH,SV,SV
arr_port,LHR,CLT,CLT
arr_city,LON,CLT,CLT
arr_ctry,GB,US,US
lst_port,ZRH,SAL,SAL
lst_city,ZRH,SAL,SAL
lst_ctry,CH,SV,SV
brd_port,LHR,SAL,CLT
brd_city,LON,SAL,CLT
brd_ctry,GB,SV,US
off_port,ZRH,CLT,SAL
off_city,ZRH,CLT,SAL
off_ctry,CH,US,SV
mkt_port,LHRZRH,CLTSAL,CLTSAL
mkt_city,LONZRH,CLTSAL,CLTSAL
mkt_ctry,CHGB,SVUS,SVUS
intl,1,1,1
route,LHRZRH,SALATLCLT,CLTATLSAL
carrier,VI,NV,NV
bkg_class,T,L,U
cab_class,Y,Y,Y
brd_time,2013-03-07 08:50:00,2013-04-12 13:04:00,2013-07-15 07:00:00
off_time,2013-03-07 11:33:37,2013-04-12 22:05:40,2013-07-15 11:34:51
pax,-1,1,1
year,2013,2013,2013
month,3,3,3
oid,NULL,NULL,NULL

In [62]:
b = pd.read_csv('bookings.csv.bz2', 
                sep='^', 
                nrows=1e5, 
                usecols=['brd_time           ','brd_port','off_port'],
                parse_dates = ['brd_time           '])
b['dateNoTimeDate'] = b['brd_time           '].apply(lambda d: d.date())
b.head()

   brd_port  off_port brd_time            dateNoTimeDate
0  LHR       ZRH      2013-03-07 08:50:00     2013-03-07
1  SAL       CLT      2013-04-12 13:04:00     2013-04-12
2  CLT       SAL      2013-07-15 07:00:00     2013-07-15
3  AKL       SVO      2013-04-24 23:59:00     2013-04-24
4  SVO       AKL      2013-05-14 20:15:00     2013-05-14

In [61]:
s = pd.read_csv('searches.csv.bz2', 
                sep='^', 
                nrows=1e5, 
                usecols=['Origin','Destination','Seg1Date'],
                parse_dates=['Seg1Date'])
s['dateNoTimeDate'] = s['Seg1Date'].apply(lambda d: d.date())
s.head(5)

  Origin Destination   Seg1Date dateNoTimeDate
0    TXL         AUH 2013-01-26     2013-01-26
1    ATH         MIL 2013-01-04     2013-01-04
2    ICT         SFO 2013-08-02     2013-08-02
3    RNB         ARN 2013-01-02     2013-01-02
4    OSL         MAD 2013-03-22     2013-03-22

In [70]:
m = pd.merge(s.dropna(),
             b.dropna(),
             how='left',
             right_on=['brd_port','off_port','dateNoTimeDate'],
             left_on=['Origin','Destination','dateNoTimeDate']
            )

In [71]:
m['match'] = m.brd_port.apply(lambda b: not pd.isnull(b))
m.head(10)

,Origin,Destination,Seg1Date,dateNoTimeDate,brd_port,off_port,brd_time,match
0,TXL,AUH,2013-01-26,2013-01-26,NaN,NaN,NaT,False
1,ATH,MIL,2013-01-04,2013-01-04,NaN,NaN,NaT,False
2,ICT,SFO,2013-08-02,2013-08-02,NaN,NaN,NaT,False
3,RNB,ARN,2013-01-02,2013-01-02,NaN,NaN,NaT,False
4,OSL,MAD,2013-03-22,2013-03-22,NaN,NaN,NaT,False
5,IAH,BLR,2013-02-14,2013-02-14,NaN,NaN,NaT,False
6,CPH,PAR,2013-03-02,2013-03-02,NaN,NaN,NaT,False
7,PAR,DUB,2013-02-12,2013-02-12,NaN,NaN,NaT,False
8,DUS,ACE,2013-03-30,2013-03-30,NaN,NaN,NaT,False
9,FRA,BGW,2013-02-26,2013-02-26,NaN,NaN,NaT,False

In [73]:
# mal porque hay espaciuos en los nombres de aeropuertos
m.groupby('match').count()

,Origin,Destination,Seg1Date,dateNoTimeDate,brd_port,off_port,brd_time
match,,,,,,,
False,99605,99605,99605,99605,0,0,0

In [78]:
for i in range(10):
    print "***" + b.brd_port[i] + "***"

***LHR     ***
***SAL     ***
***CLT     ***
***AKL     ***
***SVO     ***
***DEN     ***
***LGA     ***
***NRT     ***
***SIN     ***
***PEN     ***