In [1]:
import pandas as pd

In [2]:
path_to_zips = '/home/dsc/Data/us_dot/otp/'

In [3]:
!ls -l {path_to_zips}

total 190200
-rw-r--r--. 1 dsc dsc 23061340 Nov  8 14:10 On_Time_On_Time_Performance_2015_1.zip
-rw-r--r--. 1 dsc dsc 21230105 Nov  8 14:10 On_Time_On_Time_Performance_2015_2.zip
-rw-r--r--. 1 dsc dsc 24811186 Nov  8 14:10 On_Time_On_Time_Performance_2015_3.zip
-rw-r--r--. 1 dsc dsc 23625261 Nov  8 14:10 On_Time_On_Time_Performance_2015_4.zip
-rw-r--r--. 1 dsc dsc 24334057 Nov  8 14:10 On_Time_On_Time_Performance_2015_5.zip
-rw-r--r--. 1 dsc dsc 25758350 Nov  8 14:10 On_Time_On_Time_Performance_2015_6.zip
-rw-r--r--. 1 dsc dsc 26204213 Nov  8 14:10 On_Time_On_Time_Performance_2015_7.zip
-rw-r--r--. 1 dsc dsc 25726054 Nov  8 14:10 On_Time_On_Time_Performance_2015_8.zip

In [4]:
! unzip -l {path_to_zips}On_Time_On_Time_Performance_2015_1.zip

Archive:  /home/dsc/Data/us_dot/otp/On_Time_On_Time_Performance_2015_1.zip
  Length      Date    Time    Name
---------  ---------- -----   ----
211633432  04-16-2015 20:02   On_Time_On_Time_Performance_2015_1.csv
    12054  04-16-2015 20:02   readme.html
---------                     -------
211645486                     2 files

In [5]:
! unzip -o {path_to_zips}On_Time_On_Time_Performance_2015_1.zip readme.html

Archive:  /home/dsc/Data/us_dot/otp/On_Time_On_Time_Performance_2015_1.zip
  inflating: readme.html

In [6]:
# Display html code
from IPython.display import IFrame
IFrame('readme.html', width=700, height=500)

In [7]:
# This library allows usage of zipped files
import zipfile
# We are into python instead shell: we use +
zip_file=zipfile.ZipFile(path_to_zips + 'On_Time_On_Time_Performance_2015_1.zip')
# OR
full_path=path_to_zips + 'On_Time_On_Time_Performance_2015_1.zip'
zip_file=zipfile.ZipFile(full_path)

In [8]:
csvfile=zip_file.open('On_Time_On_Time_Performance_2015_1.csv')

In [9]:
df = pd.read_csv(csvfile)

/usr/lib64/python2.7/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (77,84,85) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [10]:
df.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
0,2015,1,1,1,4,2015-01-01,AA,19805,AA,N787AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,2,5,2015-01-02,AA,19805,AA,N795AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,3,6,2015-01-03,AA,19805,AA,N788AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,7,2015-01-04,AA,19805,AA,N791AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,5,1,2015-01-05,AA,19805,AA,N783AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df.index

Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                 8,      9,
            ...
            469958, 469959, 469960, 469961, 469962, 469963, 469964, 469965,
            469966, 469967],
           dtype='int64', length=469968)

In [12]:
df.columns

Index([u'Year', u'Quarter', u'Month', u'DayofMonth', u'DayOfWeek',
       u'FlightDate', u'UniqueCarrier', u'AirlineID', u'Carrier', u'TailNum',
       ...
       u'Div4TailNum', u'Div5Airport', u'Div5AirportID', u'Div5AirportSeqID',
       u'Div5WheelsOn', u'Div5TotalGTime', u'Div5LongestGTime',
       u'Div5WheelsOff', u'Div5TailNum', u'Unnamed: 109'],
      dtype='object', length=110)

In [13]:
len(df)

469968

In [14]:
df.count()

Year                  469968
Quarter               469968
Month                 469968
DayofMonth            469968
DayOfWeek             469968
FlightDate            469968
UniqueCarrier         469968
AirlineID             469968
Carrier               469968
TailNum               467186
FlightNum             469968
OriginAirportID       469968
OriginAirportSeqID    469968
OriginCityMarketID    469968
Origin                469968
OriginCityName        469968
OriginState           469968
OriginStateFips       469968
OriginStateName       469968
OriginWac             469968
DestAirportID         469968
DestAirportSeqID      469968
DestCityMarketID      469968
Dest                  469968
DestCityName          469968
DestState             469968
DestStateFips         469968
DestStateName         469968
DestWac               469968
CRSDepTime            469968
                       ...
Div2WheelsOn              27
Div2TotalGTime            27
Div2LongestGTime          27
Div2WheelsOff              9
Div2TailNum                9
Div3Airport                2
Div3AirportID              2
Div3AirportSeqID           2
Div3WheelsOn               2
Div3TotalGTime             2
Div3LongestGTime           2
Div3WheelsOff              0
Div3TailNum                0
Div4Airport                0
Div4AirportID              0
Div4AirportSeqID           0
Div4WheelsOn               0
Div4TotalGTime             0
Div4LongestGTime           0
Div4WheelsOff              0
Div4TailNum                0
Div5Airport                0
Div5AirportID              0
Div5AirportSeqID           0
Div5WheelsOn               0
Div5TotalGTime             0
Div5LongestGTime           0
Div5WheelsOff              0
Div5TailNum                0
Unnamed: 109               0
dtype: int64

In [15]:
# creating boolean serie (it does not select, instead it delivers a boolean serie)
escasos = df.count()<1000
escasos

Year                  False
Quarter               False
Month                 False
DayofMonth            False
DayOfWeek             False
FlightDate            False
UniqueCarrier         False
AirlineID             False
Carrier               False
TailNum               False
FlightNum             False
OriginAirportID       False
OriginAirportSeqID    False
OriginCityMarketID    False
Origin                False
OriginCityName        False
OriginState           False
OriginStateFips       False
OriginStateName       False
OriginWac             False
DestAirportID         False
DestAirportSeqID      False
DestCityMarketID      False
Dest                  False
DestCityName          False
DestState             False
DestStateFips         False
DestStateName         False
DestWac               False
CRSDepTime            False
                      ...
Div2WheelsOn           True
Div2TotalGTime         True
Div2LongestGTime       True
Div2WheelsOff          True
Div2TailNum            True
Div3Airport            True
Div3AirportID          True
Div3AirportSeqID       True
Div3WheelsOn           True
Div3TotalGTime         True
Div3LongestGTime       True
Div3WheelsOff          True
Div3TailNum            True
Div4Airport            True
Div4AirportID          True
Div4AirportSeqID       True
Div4WheelsOn           True
Div4TotalGTime         True
Div4LongestGTime       True
Div4WheelsOff          True
Div4TailNum            True
Div5Airport            True
Div5AirportID          True
Div5AirportSeqID       True
Div5WheelsOn           True
Div5TotalGTime         True
Div5LongestGTime       True
Div5WheelsOff          True
Div5TailNum            True
Unnamed: 109           True
dtype: bool

In [16]:
df.columns[escasos]

Index([u'DivReachedDest', u'DivActualElapsedTime', u'DivArrDelay',
       u'DivDistance', u'Div1WheelsOff', u'Div1TailNum', u'Div2Airport',
       u'Div2AirportID', u'Div2AirportSeqID', u'Div2WheelsOn',
       u'Div2TotalGTime', u'Div2LongestGTime', u'Div2WheelsOff',
       u'Div2TailNum', u'Div3Airport', u'Div3AirportID', u'Div3AirportSeqID',
       u'Div3WheelsOn', u'Div3TotalGTime', u'Div3LongestGTime',
       u'Div3WheelsOff', u'Div3TailNum', u'Div4Airport', u'Div4AirportID',
       u'Div4AirportSeqID', u'Div4WheelsOn', u'Div4TotalGTime',
       u'Div4LongestGTime', u'Div4WheelsOff', u'Div4TailNum', u'Div5Airport',
       u'Div5AirportID', u'Div5AirportSeqID', u'Div5WheelsOn',
       u'Div5TotalGTime', u'Div5LongestGTime', u'Div5WheelsOff',
       u'Div5TailNum', u'Unnamed: 109'],
      dtype='object')

In [17]:
# it creates another serie
cuentas = df.count()

In [18]:
abundantes = cuentas[cuentas>1000]
abundantes

Year                  469968
Quarter               469968
Month                 469968
DayofMonth            469968
DayOfWeek             469968
FlightDate            469968
UniqueCarrier         469968
AirlineID             469968
Carrier               469968
TailNum               467186
FlightNum             469968
OriginAirportID       469968
OriginAirportSeqID    469968
OriginCityMarketID    469968
Origin                469968
OriginCityName        469968
OriginState           469968
OriginStateFips       469968
OriginStateName       469968
OriginWac             469968
DestAirportID         469968
DestAirportSeqID      469968
DestCityMarketID      469968
Dest                  469968
DestCityName          469968
DestState             469968
DestStateFips         469968
DestStateName         469968
DestWac               469968
CRSDepTime            469968
                       ...
ArrTime               457697
ArrDelay              457013
ArrDelayMinutes       457013
ArrDel15              457013
ArrivalDelayGroups    457013
ArrTimeBlk            469968
Cancelled             469968
CancellationCode       11982
Diverted              469968
CRSElapsedTime        469968
ActualElapsedTime     457013
AirTime               457013
Flights               469968
Distance              469968
DistanceGroup         469968
CarrierDelay           95951
WeatherDelay           95951
NASDelay               95951
SecurityDelay          95951
LateAircraftDelay      95951
FirstDepTime            2895
TotalAddGTime           2895
LongestAddGTime         2895
DivAirportLandings    469968
Div1Airport             1079
Div1AirportID           1079
Div1AirportSeqID        1079
Div1WheelsOn            1079
Div1TotalGTime          1079
Div1LongestGTime        1079
dtype: int64

In [19]:
abundantes.index

Index([u'Year', u'Quarter', u'Month', u'DayofMonth', u'DayOfWeek',
       u'FlightDate', u'UniqueCarrier', u'AirlineID', u'Carrier', u'TailNum',
       u'FlightNum', u'OriginAirportID', u'OriginAirportSeqID',
       u'OriginCityMarketID', u'Origin', u'OriginCityName', u'OriginState',
       u'OriginStateFips', u'OriginStateName', u'OriginWac', u'DestAirportID',
       u'DestAirportSeqID', u'DestCityMarketID', u'Dest', u'DestCityName',
       u'DestState', u'DestStateFips', u'DestStateName', u'DestWac',
       u'CRSDepTime', u'DepTime', u'DepDelay', u'DepDelayMinutes', u'DepDel15',
       u'DepartureDelayGroups', u'DepTimeBlk', u'TaxiOut', u'WheelsOff',
       u'WheelsOn', u'TaxiIn', u'CRSArrTime', u'ArrTime', u'ArrDelay',
       u'ArrDelayMinutes', u'ArrDel15', u'ArrivalDelayGroups', u'ArrTimeBlk',
       u'Cancelled', u'CancellationCode', u'Diverted', u'CRSElapsedTime',
       u'ActualElapsedTime', u'AirTime', u'Flights', u'Distance',
       u'DistanceGroup', u'CarrierDelay', u'WeatherDelay', u'NASDelay',
       u'SecurityDelay', u'LateAircraftDelay', u'FirstDepTime',
       u'TotalAddGTime', u'LongestAddGTime', u'DivAirportLandings',
       u'Div1Airport', u'Div1AirportID', u'Div1AirportSeqID', u'Div1WheelsOn',
       u'Div1TotalGTime', u'Div1LongestGTime'],
      dtype='object')

In [20]:
df=df[abundantes.index]
df

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,FirstDepTime,TotalAddGTime,LongestAddGTime,DivAirportLandings,Div1Airport,Div1AirportID,Div1AirportSeqID,Div1WheelsOn,Div1TotalGTime,Div1LongestGTime
0,2015,1,1,1,4,2015-01-01,AA,19805,AA,N787AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,2,5,2015-01-02,AA,19805,AA,N795AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,3,6,2015-01-03,AA,19805,AA,N788AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,7,2015-01-04,AA,19805,AA,N791AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,5,1,2015-01-05,AA,19805,AA,N783AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
5,2015,1,1,6,2,2015-01-06,AA,19805,AA,N799AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
6,2015,1,1,7,3,2015-01-07,AA,19805,AA,N784AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
7,2015,1,1,8,4,2015-01-08,AA,19805,AA,N787AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
8,2015,1,1,9,5,2015-01-09,AA,19805,AA,N795AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
9,2015,1,1,10,6,2015-01-10,AA,19805,AA,N790AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
10,2015,1,1,11,7,2015-01-11,AA,19805,AA,N786AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
11,2015,1,1,12,1,2015-01-12,AA,19805,AA,N790AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
12,2015,1,1,13,2,2015-01-13,AA,19805,AA,N796AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
13,2015,1,1,14,3,2015-01-14,AA,19805,AA,N793AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
14,2015,1,1,15,4,2015-01-15,AA,19805,AA,N790AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
15,2015,1,1,16,5,2015-01-16,AA,19805,AA,N797AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
16,2015,1,1,17,6,2015-01-17,AA,19805,AA,N795AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
17,2015,1,1,18,7,2015-01-18,AA,19805,AA,N786AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
18,2015,1,1,19,1,2015-01-19,AA,19805,AA,N785AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
19,2015,1,1,20,2,2015-01-20,AA,19805,AA,N797AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
20,2015,1,1,21,3,2015-01-21,AA,19805,AA,N789AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
21,2015,1,1,22,4,2015-01-22,AA,19805,AA,N790AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
22,2015,1,1,23,5,2015-01-23,AA,19805,AA,N790AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
23,2015,1,1,24,6,2015-01-24,AA,19805,AA,N787AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
24,2015,1,1,25,7,2015-01-25,AA,19805,AA,N791AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
25,2015,1,1,26,1,2015-01-26,AA,19805,AA,N783AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
26,2015,1,1,27,2,2015-01-27,AA,19805,AA,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
27,2015,1,1,28,3,2015-01-28,AA,19805,AA,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
28,2015,1,1,29,4,2015-01-29,AA,19805,AA,N794AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
29,2015,1,1,30,5,2015-01-30,AA,19805,AA,N792AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469938,2015,1,1,3,6,2015-01-03,NK,20416,NK,N505NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469939,2015,1,1,4,7,2015-01-04,NK,20416,NK,N503NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469940,2015,1,1,5,1,2015-01-05,NK,20416,NK,N508NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469941,2015,1,1,6,2,2015-01-06,NK,20416,NK,N503NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469942,2015,1,1,7,3,2015-01-07,NK,20416,NK,N508NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469943,2015,1,1,8,4,2015-01-08,NK,20416,NK,N503NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469944,2015,1,1,9,5,2015-01-09,NK,20416,NK,N508NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469945,2015,1,1,10,6,2015-01-10,NK,20416,NK,N503NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469946,2015,1,1,11,7,2015-01-11,NK,20416,NK,N508NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469947,2015,1,1,12,1,2015-01-12,NK,20416,NK,N503NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469948,2015,1,1,13,2,2015-01-13,NK,20416,NK,N514NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469949,2015,1,1,14,3,2015-01-14,NK,20416,NK,N528NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469950,2015,1,1,15,4,2015-01-15,NK,20416,NK,N508NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469951,2015,1,1,16,5,2015-01-16,NK,20416,NK,N528NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469952,2015,1,1,17,6,2015-01-17,NK,20416,NK,N508NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469953,2015,1,1,18,7,2015-01-18,NK,20416,NK,N528NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469954,2015,1,1,19,1,2015-01-19,NK,20416,NK,N505NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469955,2015,1,1,20,2,2015-01-20,NK,20416,NK,N521NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469956,2015,1,1,21,3,2015-01-21,NK,20416,NK,N505NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469957,2015,1,1,22,4,2015-01-22,NK,20416,NK,N522NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469958,2015,1,1,23,5,2015-01-23,NK,20416,NK,N502NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469959,2015,1,1,24,6,2015-01-24,NK,20416,NK,N524NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469960,2015,1,1,25,7,2015-01-25,NK,20416,NK,N502NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469961,2015,1,1,26,1,2015-01-26,NK,20416,NK,N524NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469962,2015,1,1,27,2,2015-01-27,NK,20416,NK,N502NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469963,2015,1,1,28,3,2015-01-28,NK,20416,NK,N524NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469964,2015,1,1,29,4,2015-01-29,NK,20416,NK,N502NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469965,2015,1,1,30,5,2015-01-30,NK,20416,NK,N519NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469966,2015,1,1,31,6,2015-01-31,NK,20416,NK,N502NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
469967,2015,1,1,1,4,2015-01-01,NK,20416,NK,N502NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# NOT in Series
abundantes = ~escasos
abundantes

Year                   True
Quarter                True
Month                  True
DayofMonth             True
DayOfWeek              True
FlightDate             True
UniqueCarrier          True
AirlineID              True
Carrier                True
TailNum                True
FlightNum              True
OriginAirportID        True
OriginAirportSeqID     True
OriginCityMarketID     True
Origin                 True
OriginCityName         True
OriginState            True
OriginStateFips        True
OriginStateName        True
OriginWac              True
DestAirportID          True
DestAirportSeqID       True
DestCityMarketID       True
Dest                   True
DestCityName           True
DestState              True
DestStateFips          True
DestStateName          True
DestWac                True
CRSDepTime             True
                      ...
Div2WheelsOn          False
Div2TotalGTime        False
Div2LongestGTime      False
Div2WheelsOff         False
Div2TailNum           False
Div3Airport           False
Div3AirportID         False
Div3AirportSeqID      False
Div3WheelsOn          False
Div3TotalGTime        False
Div3LongestGTime      False
Div3WheelsOff         False
Div3TailNum           False
Div4Airport           False
Div4AirportID         False
Div4AirportSeqID      False
Div4WheelsOn          False
Div4TotalGTime        False
Div4LongestGTime      False
Div4WheelsOff         False
Div4TailNum           False
Div5Airport           False
Div5AirportID         False
Div5AirportSeqID      False
Div5WheelsOn          False
Div5TotalGTime        False
Div5LongestGTime      False
Div5WheelsOff         False
Div5TailNum           False
Unnamed: 109          False
dtype: bool

In [22]:
len(df.columns)

71

In [23]:
# Filtering series - Important to think about it
len(escasos[escasos])

39

### Viewing files

In [24]:
# random view
df.sample(5)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,FirstDepTime,TotalAddGTime,LongestAddGTime,DivAirportLandings,Div1Airport,Div1AirportID,Div1AirportSeqID,Div1WheelsOn,Div1TotalGTime,Div1LongestGTime
41657,2015,1,1,6,2,2015-01-06,AA,19805,AA,N3BKAA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
422856,2015,1,1,30,5,2015-01-30,DL,19790,DL,N969AT,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
435830,2015,1,1,1,4,2015-01-01,HA,19690,HA,N477HA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
306336,2015,1,1,19,1,2015-01-19,UA,19977,UA,N13248,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
336663,2015,1,1,9,5,2015-01-09,US,20355,US,N758US,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
# Managing strings - str function
df.columns.str.lower()

Index([u'year', u'quarter', u'month', u'dayofmonth', u'dayofweek',
       u'flightdate', u'uniquecarrier', u'airlineid', u'carrier', u'tailnum',
       u'flightnum', u'originairportid', u'originairportseqid',
       u'origincitymarketid', u'origin', u'origincityname', u'originstate',
       u'originstatefips', u'originstatename', u'originwac', u'destairportid',
       u'destairportseqid', u'destcitymarketid', u'dest', u'destcityname',
       u'deststate', u'deststatefips', u'deststatename', u'destwac',
       u'crsdeptime', u'deptime', u'depdelay', u'depdelayminutes', u'depdel15',
       u'departuredelaygroups', u'deptimeblk', u'taxiout', u'wheelsoff',
       u'wheelson', u'taxiin', u'crsarrtime', u'arrtime', u'arrdelay',
       u'arrdelayminutes', u'arrdel15', u'arrivaldelaygroups', u'arrtimeblk',
       u'cancelled', u'cancellationcode', u'diverted', u'crselapsedtime',
       u'actualelapsedtime', u'airtime', u'flights', u'distance',
       u'distancegroup', u'carrierdelay', u'weatherdelay', u'nasdelay',
       u'securitydelay', u'lateaircraftdelay', u'firstdeptime',
       u'totaladdgtime', u'longestaddgtime', u'divairportlandings',
       u'div1airport', u'div1airportid', u'div1airportseqid', u'div1wheelson',
       u'div1totalgtime', u'div1longestgtime'],
      dtype='object')

In [26]:
df.columns.str.contains('Origin')

array([False, False, False, False, False, False, False, False, False,
       False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False], dtype=bool)

In [27]:
# filtering or indexing
df.columns[df.columns.str.contains('Origin')]

Index([u'OriginAirportID', u'OriginAirportSeqID', u'OriginCityMarketID',
       u'Origin', u'OriginCityName', u'OriginState', u'OriginStateFips',
       u'OriginStateName', u'OriginWac'],
      dtype='object')

In [28]:
origin_col_names = df.columns[df.columns.str.contains('Origin')]
df[origin_col_names].sample(5)

,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,Origin,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac
277480,13485,1348502,33485,MSN,"Madison, WI",WI,55,Wisconsin,45
333074,14107,1410702,30466,PHX,"Phoenix, AZ",AZ,4,Arizona,81
133260,14107,1410702,30466,PHX,"Phoenix, AZ",AZ,4,Arizona,81
181308,15370,1537002,34653,TUL,"Tulsa, OK",OK,40,Oklahoma,73
183244,14570,1457002,34570,RNO,"Reno, NV",NV,32,Nevada,85

In [29]:
cols_to_keep = pd.Index(['Origin','OriginCityName','OriginStateName'])

In [30]:
cols_to_drop = origin_col_names.difference(cols_to_keep)
cols_to_drop

Index([u'OriginAirportID', u'OriginAirportSeqID', u'OriginCityMarketID',
       u'OriginState', u'OriginStateFips', u'OriginWac'],
      dtype='object')

In [31]:
# axis=0 horizontal, axis=1 vertical 
df2= df.drop(cols_to_drop, axis=1)
df2.sample(5)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,FirstDepTime,TotalAddGTime,LongestAddGTime,DivAirportLandings,Div1Airport,Div1AirportID,Div1AirportSeqID,Div1WheelsOn,Div1TotalGTime,Div1LongestGTime
292512,2015,1,1,28,3,2015-01-28,UA,19977,UA,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
139047,2015,1,1,4,7,2015-01-04,WN,19393,WN,N757LV,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
242142,2015,1,1,31,6,2015-01-31,OO,20304,OO,N718SK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
375946,2015,1,1,16,5,2015-01-16,EV,20366,EV,N877AS,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
278886,2015,1,1,18,7,2015-01-18,OO,20304,OO,N693BR,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
def hora(number):
    return int(number / 100)

In [34]:
df2['DepTime'].fillna(0.0).map(hora)

0          8
1          8
2          8
3          8
4          8
5          8
6          8
7          8
8          9
9          9
10         8
11         8
12         8
13         8
14         8
15         9
16         8
17         9
18         8
19         8
20         8
21         8
22         8
23        10
24         9
25         8
26         0
27         0
28         8
29         8
          ..
469938     5
469939     5
469940     5
469941     5
469942     5
469943     5
469944     5
469945     5
469946     5
469947     5
469948     6
469949     5
469950     5
469951     5
469952     5
469953     5
469954     5
469955     5
469956     5
469957     5
469958     5
469959     5
469960     5
469961     5
469962     5
469963     6
469964     5
469965     5
469966     6
469967     7
Name: DepTime, dtype: int64

In [35]:
df2['DepHour']=df2['DepTime'].fillna(0.0).map(hora)

In [39]:
# Important two [[ - think about it
df2[['DepHour','DepTime']].sample(10)

        DepHour  DepTime
36231        21     2105
133048       11     1112
362778        7      743
319110        8      845
293808       11     1145
194513       11     1145
121344        0      NaN
247514        8      824
388708        9      907
161484        6      659

### Sorting

In [61]:
delays = df2['DepDelay'].copy()

In [62]:
delays.head(5)

0    -5
1   -10
2    -7
3    -7
4    -7
Name: DepDelay, dtype: float64

In [63]:
nontype = delays.sort(ascending=False)

In [64]:
delays.head()

21523     1988
11524     1604
18198     1551
108152    1457
26001     1450
Name: DepDelay, dtype: float64

In [66]:
biggest_delays = delays.head()
biggest_delayed_flights = df2.ix[biggest_delays.index]
biggest_delayed_flights['Carrier']

21523     AA
11524     AA
18198     AA
108152    AA
26001     AA
Name: Carrier, dtype: object

In [70]:
# Be careful - executing lazy not strict (it simulates a dataframe by value)
df2.groupby('TailNum')

In [69]:
grouped_by_plane = df2.groupby('TailNum')

In [77]:
# Now, it executes strictly (and output it is a serie)
grouped_by_plane['DepDelay'].mean().head()

TailNum
N001AA     6.852459
N002AA     6.118644
N003AA    21.866667
N004AA     6.300000
N005AA    14.676471
Name: DepDelay, dtype: float64

In [78]:
grouped_by_plane['DepDelay'].sum().head()

TailNum
N001AA     418
N002AA     361
N003AA    1312
N004AA     441
N005AA     998
Name: DepDelay, dtype: float64

In [80]:
delays_by_plane=grouped_by_plane['DepDelay'].mean()
mean_delays = delays_by_plane.copy()

In [81]:
mean_delays.sort(ascending=False)

In [83]:
mean_delays.head(5)

TailNum
N79011    232.0
N228UA    217.5
N707DN    204.0
N651UA    167.0
N776UA    159.0
Name: DepDelay, dtype: float64

In [86]:
means_count = grouped_by_plane['DepDelay'].agg(['mean','count'])
means_count.sample(5)

              mean  count
TailNum
N533NK    8.717557    131
N939UW    7.968750     64
N212WN    6.707792    154
N27421   24.328125     64
N8610A    9.443609    133

In [89]:
sorted_mc = means_count.sort('mean',ascending=False)
sorted_mc.head()

          mean  count
TailNum
N79011   232.0      2
N228UA   217.5      2
N707DN   204.0      2
N651UA   167.0      4
N776UA   159.0      2

In [91]:
sorted_mc[sorted_mc['count']>10].head()

               mean  count
TailNum
N398AA   118.733333     15
N76065   117.416667     12
N5FSAA   105.800000     15
N557AA    85.434783     23
N17104    69.833333     12

In [93]:
import matplotlib as plt
%matplotlib inline